{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Игровой обменник - OilGame - экономическая игра с выводом средств</title>{% endblock %}
{% block titles %}
      <h1>
        Игровой обменник
        <small>Обменивайте игровую валюту на рубли</small>
      </h1>
{% endblock %}
{% block content %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <div class="panel">
            <div class="panel-body">
                <p>
                    <b>Информация о ваших валютах:</b><br>
                    Текущий запас нефти: <b>{{ user.profile.oil }} ед.</b> из них сейчас возможно получить: <b>{{ made }}</b> руб.<br>
                    <b>Курс обмена:</b><br>
                    100 единиц игровой валюты (нефти) = 1 рубль
                </p>
                {% if form.errors %}<p class="alert alert-danger">Обнаружены ошибки при обработке данных. Пожалуйста, проверьте, что данные указаны верно</p>{% endif %}
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <form class="form-inline" role="form" method="POST">
                          <p><i class="fa fa-exclamation-circle"></i> Укажите количество <b>рублей</b> для обмена. По умолчанию указано максимально возможное значение для обмена.</p>
                          {% csrf_token %}
                          <div class="form-group">
                            <label class="sr-only" for="change">Сумма для обмена</label>
                            <input name="rubs" type="number" class="form-control" id="change" min="0" placeholder="Максимум: {{ made }} руб." required autofocus>
                          </div>
                          <button type="submit" class="btn btn-default">Обменять</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}