{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Ваш инвентарь - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ваш инвентарь</h3>
                            <p class="panel-subtitle">Управляйте вашей недвижимостью</p>
                        </div>
                        <div class="panel-body">
                            {% if towers %}
                            <h3 class="text-center"><i class="fa fa-tasks"></i> Общая информация о ваших объектах</h3>
                            <h5 class="text-center">Отслеживайте работу вашего виртуального бизнеса</h5>
                            <center>
                                <div class="towers">
                                    <span>
                                        <p>Сейчас в ваших хранилищах: <b>{{ user.profile.oil }} единиц нефти</b></p>
                                        <a href="{% url 'get_all_oil' %}" class="btn btn-success"><i class="fa fa-globe"></i> Собрать нефть с вышек</a>
                                        <p>Хотите выполнить обмен нефти?</p>
                                        <a href="{% url 'exchange' %}" class="btn btn-danger"><i class="fa fa-ravelry"></i> Отправиться в обменник</a>
                                    </span>
                                </div>
                            <h3 class="text-center"><i class="fa fa-archive"></i> Ваши фабрики</h3>
                            <h5 class="text-center">Фабрики необходимы для размещения вышек</h5>
                                <div class="row">
                                    {% for f in factories %}
                                    <div class="col-md-2">
                                        <center>
                                            <img src="{{ f.factory.img.url }}" alt="{{ f.factory.name }}" width="120px" height="120px" />
                                            <h4>{{ f.factory.name }}</h4>
                                            <p>
                                                <strong>Приобретено за:</strong> {{ f.factory.price }} рублей<br>
                                            </p>
                                        </center>
                                    </div>
                                    {% endfor %}
                                </div>
                            <h3 class="text-center"><i class="fa fa-pie-chart"></i> Ваши нефтяные вышки</h3>
                            <h5 class="text-center">Вышки добывают нефть. Собирайте нефть и обменивайте на рубли!</h5>
                                <div class="row">
                                    {% for t in towers %}
                                    <div class="col-md-2">
                                        <center>
                                            <img src="{{ t.tower.img.url }}" alt="{{ t.tower.name }}" width="120px" height="120px" />
                                            <h4>{{ t.tower.name }}</h4>
                                            <p>
                                                <strong>Приобретено за:</strong> {{ t.tower.price }} рублей<br>
                                                <strong>Добывает:</strong> {{ t.tower.oil }} ед. в день<br>
                                                <strong>Статус:</strong> <span name="ready_time">{{ t.work }}</span><br>
                                            </p>
                                        </center>
                                    </div>
                                    {% endfor %}
                                </div>
                            </center>
                            {% else %}
                            <p class="alert alert-info">Сейчас вы не имеете купленных нефтяных вышек. Мы отобразим здесь ваш инвентарь после покупки первой вышки. Приобрести вышки можно в <a href="{% url 'shop' %}">игровом магазине</a>.</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- END OVERVIEW -->
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}
{% block jsscript %}
<script>
    var w = document.getElementsByName("ready_time");
    var d = new Date();
    for (var i = 0; i < w.length; i++) {
      var r = w[i].innerHTML - Math.round(d.valueOf() / 1000);
      var g = Math.round(r / 60 / 60);
      if (g <= 0) {
        w[i].innerHTML = "<span class=\"label label-success\"><i class=\"fa fa-check\"></i> Ожидает сбора</span>";
      } else {
        w[i].innerHTML = "выполнит работу через " + g + " часа(ов)";
      }
    }
</script>
{% endblock %}