{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Ваш игровой аккаунт - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="panel panel-headline">
                        <div class="panel-body">
                            <h2>Добро пожаловать, <small>{{ user.username }}</small>! Мы рады видеть вас в игре.</h2>
                            <hr>
                            <p class="text-info">Это ваш личный интерфейс для выполнения основных действий в игре.<br>Здесь вы можете общаться в онлайн-чате, пополнять баланс, выводить средства и выполнять другие необходимые для игры действия.<br>Также вы можете приглашать новых игроков на проект и получать 10% прибыль от их пополнений на сайте. Для приглашений используйте специальную ссылку, которую вы можете посмотреть в своем профиле.<br>Желаем вам приятной игры!</p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <!-- RECENT PURCHASES -->
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Последние пополнения счета</h3>
                                    <div class="right">
                                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body no-padding">
                                    {% if d.payments %}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th><i class="fa fa-rub" aria-hidden="true"></i> Сумма</th>
                                                <th><i class="fa fa-calendar" aria-hidden="true"></i> Дата платежа</th>
                                                <th><i class="fa fa-clock-o" aria-hidden="true"></i> Статус</th>
                                                <th><i class="fa fa-cog" aria-hidden="true"></i> Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for p in d.payments %}
                                            <tr>
                                                <td>{{ p.id }}</td>
                                                <td>{{ p.amount}} руб.</td>
                                                <td>{{ p.date }}</td>
                                                {% if p.status %}
                                                <td><span class="label label-success">ОПЛАЧЕНО</span></td>
                                                {% else %}
                                                <td><span class="label label-warning">НЕ ОПЛАЧЕНО</span></td>                                                
                                                {% endif %}
                                                <td>
                                                    {% if not p.status %}<a href="{% url 'payment_manage' pk=p.id action='pay' %}"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>{% endif %}
                                                    <a href="{% url 'payment_manage' pk=p.id action='rm' %}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p class="alert alert-warning">Вы еще не пополняли свой счет. История платежей отсутствует.</p>
                                    {% endif %}
                                </div>
                                {% if d.payments %}
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12"><a href="{% url 'payment_history' %}" class="btn btn-primary">Посмотреть все платежи</a></div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END RECENT PURCHASES -->
                        <!-- TASKS -->
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Моя статистика</h3>
                                    <div class="right">
                                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td><i class="fa fa-bar-chart" aria-hidden="true"></i> Куплено нефтяных вышек:</td>
                                                <td>{{ user.profile.stat_tower }} шт.</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-certificate" aria-hidden="true"></i> Добыто нефти:</td>
                                                <td>{{ user.profile.stat_produced }} ед.</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Вложено денежных средств:</td>
                                                <td>{{ user.profile.stat_pay }} руб.</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-rub" aria-hidden="true"></i> Выведено денежных средств:</td>
                                                <td>{{ user.profile.stat_payout }} руб.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END TASKS -->
                    </div>
                    <div class="row">
                        <!-- REFERRALS -->
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Мои рефералы на проекте</h3>
                                    <div class="right">
                                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body no-padding">
                                    {% if d.refs %}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th><i class="fa fa-user" aria-hidden="true"></i> Логин реферала</th>
                                                <th><i class="fa fa-calendar" aria-hidden="true"></i> Дата регистрации</th>
                                                <th><i class="fa fa-percent" aria-hidden="true"></i> Доход</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for r in d.refs %}
                                            <tr>
                                                <td>{{ r.user.username }}</td>
                                                <td>{{ r.date }}</td>
                                                <td>{{ r.profit }} руб.</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p class="alert alert-info">У вас еще нет рефералов. Приглашайте новых игроков с помощью ссылки ниже!</p>
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12"><p>Приглашайте новых игроков на проект по персональной ссылке и получайте 10% от их пополнений!<br><b><i class="fa fa-link" aria-hidden="true"></i> Ваша ссылка:</b> <span id="reflink" class="text-primary" onclick="SelectText('reflink');">https://oil-game.win{% url 'refreg' referrer=user.id %} <i class="fa fa-clone" aria-hidden="true"></i></span> </p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END REFERRALS -->
                        <!-- BANNERS -->
                        <div class="col-md-6 hidden-xs hidden-sm">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Рекламные материалы</h3>
                                    <div class="right">
                                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {% for a in d.ads %}
                                    <a href="{{ a.url }}" target="_blank"><img class="img-center" src="{{ a.img.url }}" alt="Banner #{{ forloop.counter }}"></a>
                                    <p class="sponsor-code" onclick="SelectText('sp-code-{{ forloop.counter }}');">
                                        <code id="sp-code-{{ forloop.counter }}">&lt;a href="{{ a.url }}" target="_blank"&gt;&lt;img src="https://oil-game.win{{ a.img.url }}"&gt;&lt;/a&gt;</code>
                                        <br><span class="text-primary"><i class="fa fa-clone" aria-hidden="true"></i> выделить код баннера</span>
                                    </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- END BANNERS -->
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}
{% block jsscript %}
<script>
function SelectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}
</script>
{% endblock %}