{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Статистика проекта - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Статистика проекта</h3>
                            <p class="panel-subtitle">Период: Март 16, 2018 - наст. время</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="metric">
                                        <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                        <p>
                                            <span class="number">{{ stats.tower }}</span>
                                            <span class="title">Всего построенных вышек</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric">
                                        <span class="icon"><i class="fa fa-certificate"></i></span>
                                        <p>
                                            <span class="number">{{ stats.oil }}</span>
                                            <span class="title">Всего единиц нефти добыто</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric">
                                        <span class="icon"><i class="fa fa-credit-card-alt"></i></span>
                                        <p>
                                            <span class="number">{{ stats.donated }}</span>
                                            <span class="title">Всего внесено в проект (руб.)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="metric">
                                        <span class="icon"><i class="fa fa-bar-chart"></i></span>
                                        <p>
                                            <span class="number">{{ stats.exchanged }}</span>
                                            <span class="title">Всего выведено средств (руб.)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END OVERVIEW -->
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}