{% extends 'registration/base.html' %}{% load staticfiles %}{% block headers %}<title>Восстановление пароля - OIL-GAME.WIN - Экономическая игра с выводом средств</title>
        <meta name="description" content="Восстановление пароля - OIL-GAME.WIN - Экономическая игра с выводом средств">
        <meta property="og:title" content="Восстановление пароля - OIL-GAME.WIN - Экономическая игра с выводом средств">
        <meta property="og:description" content="Восстановление пароля - OIL-GAME.WIN - Экономическая игра с выводом средств">
        <meta property="og:image" content="">{% endblock %}{% block content %}
                <!-- Page Content -->
                <div class="bg-gd-lake">
                    <div class="hero-static content content-full bg-white invisible" data-toggle="appear">
                        <div class="py-30 px-5 text-center">
                            <a class="link-effect font-w700" href="{% url 'landing_main' %}">
                                <i class="si si-drop"></i>
                                <span class="font-size-xl text-primary-dark">OIL</span><span class="font-size-xl">GAME</span>
                            </a>
                            <h1 class="h2 font-w700 mt-50 mb-10">Не волнуйтесь, мы вернем вас</h1>
                            <h2 class="h4 font-w400 text-muted mb-0">Пожалуйста, укажите ваш e-mail</h2>
                        </div>
                        <div class="row justify-content-center px-5">
                            <div class="col-sm-8 col-md-6 col-xl-4">
                                {% if form.errors %}<p class="alert alert-danger">Убедитесь, что Email введен корректно, а проверка на робота успешно пройдена.</p>{% endif %}
                                <form class="js-validation-reminder" method="post">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div class="form-material floating">
                                                <input type="text" class="form-control" id="reminder-credential" name="email">
                                                <label for="reminder-credential">Ваш E-mail</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-12"><center>
                                            {{ form.captcha }}
                                        </center></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-primary">
                                            <i class="fa fa-asterisk mr-10"></i> Восстановить пароль
                                        </button>
                                        <a class="btn btn-block btn-noborder btn-rounded btn-alt-secondary" href="{% url 'login' %}">
                                            <i class="si si-login text-muted mr-10"></i> Вспомнили пароль?
                                        </a>
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
{% endblock content %}
{% block jsplugins %}
        <script src="{% static 'js/plugins/account/op_auth_reminder.js' %}"></script>
{% endblock jsplugins %}