{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>История платежей - OilGame - экономическая игра с выводом средств</title>{% endblock %}
{% block titles %}
      <h1>
        История ваших платежей
        <small>Управление счетами для вашего аккаунта</small>
      </h1>
{% endblock %}
{% block content %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-body no-padding">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><i class="fa fa-rub" aria-hidden="true"></i> Сумма</th>
                                    <th><i class="fa fa-calendar" aria-hidden="true"></i> Дата платежа</th>
                                    <th><i class="fa fa-clock-o" aria-hidden="true"></i> Статус</th>
                                    <th><i class="fa fa-cog" aria-hidden="true"></i> Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in payments %}
                                <tr>
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.amount}} руб.</td>
                                    <td>{{ p.date }}</td>
                                    {% if p.status %}
                                    <td><span class="label label-success">ОПЛАЧЕНО</span></td>
                                    {% else %}
                                    <td><span class="label label-warning">НЕ ОПЛАЧЕНО</span></td>                                                
                                    {% endif %}
                                    <td>
                                        {% if not p.status %}
                                        <a href="{% url 'payment_manage' pk=p.id action='pay' %}" class="btn btn-success">Оплатить</a>
                                        {% else %}
                                        <a href="{% url 'payment_manage' pk=p.id action='rm' %}" class="btn btn-danger">Удалить</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END OVERVIEW -->
{% endblock %}