{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Написать новое сообщение - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Написать новое сообщение</h3>
                        </div>
                        <div class="panel-body">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endfor %}
                            {% if form.errors %}<p class="alert alert-danger">Обнаружены ошибки при обработке данных. Пожалуйста, проверьте, что данные в форме указаны верно.</p>{% endif %}
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="form-control" name="username" placeholder="Логин получателя" maxlength="150" required>
                                        <br>
                                        <input type="text" class="form-control" name="title" placeholder="Тема обсуждения" minlength="3" maxlength="120" required>
                                        <br>
                                        <textarea class="form-control" name="text" placeholder="Текст вашего сообщения" rows="6" required></textarea>
                                        <br>
                                        {{ form.captcha }}
                                        <br>
                                        <button type="submit" class="btn btn-primary">Отправить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}