{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Просмотр тикета - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    <!-- PM HEADING -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">Просмотр тикета #{{ ticket.id }} <b>[режим модератора]</b></h3>
                            <h5><b>Статус:</b> {% if ticket.status == 1 %}<span class="label label-danger">ЗАКРЫТО</span>{% elif ticket.status == 2 %}<span class="label label-success">ОТКРЫТО</span>{% elif ticket.status == 3 %}<span class="label label-warning">ОЖИДАЕТ ВАШЕГО ОТВЕТА</span>{% else %}<span class="label label-info">ДИАЛОГ</span>{% endif %}</h5>
                            <h5><b>Диалог создан:</b> {{ ticket.owner }}</h5>
                            <h5><b>Email создателя:</b> {{ ticket.owner.email }}</h5>
                            <h5><b>Последний вход в систему:</b> {{ ticket.owner.last_login }}</h5>
                        </div>
                        <div class="panel-body">
                            <form method="POST">
                                {% csrf_token %}
                                <textarea class="form-control" name="text" placeholder="Введите здесь текст для отправки его от имени технической поддержки проекта" rows="6" required style="width: 500px;"></textarea>
                                <br>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="close" value="1" id="check_close">
                                  <label class="form-check-label" for="check_close">
                                    Закрыть тикет? (запретить отправлять сообщения)
                                  </label>
                                </div>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <!-- END PM HEADING -->
                    {% for pm in pms %}
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Сообщение #{{ forloop.counter }} ({{ pm.date }})</h3>
                            <div class="right">
                                {% if pm.status %}
                                <h3 class="panel-title">Отправитель: {{ pm.ticket.owner }} <span class="label label-info">СОЗДАТЕЛЬ ДИАЛОГА</span></h3>
                                {% else %}
                                <h3 class="panel-title">Отправитель: {{ pm.ticket.recipient_name }} {% if ticket.recipient == 0 %}<span class="label label-danger">ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</span>{% endif %}</h3>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-body">
                            <p>{{ pm.message }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}