<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Redirect to merchant...</title>
</head>
<p>Redirect to merchant...</p>
<body>
{% for a in context %}
<form name="merchant" method="GET" action='https://www.free-kassa.ru/merchant/cash.php'>
<input type="hidden" name="m_shop" value="{{ a.m_shop }}">
<input type="hidden" name="m_orderid" value="{{ a.m_orderid }}">
<input type="hidden" name="m_amount" value="{{ a.m_amount }}">
<input type="hidden" name="m_curr" value="{{ a.m_curr }}">
<input type="hidden" name="m_desc" value="{{ a.m_desc }}">
<input type="hidden" name="m_sign" value="{{ a.m_sign }}">
</form>
{% endfor %}
<script type="text/javascript">
window.onload=function(){ 
window.setTimeout(function() { document.merchant.submit(); }, 1000);
};
</script>
</body>
</html>