{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Список рефералов - OilGame - экономическая игра с выводом средств</title>{% endblock %}
{% block titles %}
      <h1>
        Список рефералов пользователя
        <small>Результат действия из панели модератора</small>
      </h1>
{% endblock %}
{% block content %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-body">
                    {% if referrals %}
                    <div class="col-md-12">
                        <p class="alert alert-info">Всего реферрер получил <b>{{ total_profit.value }} руб.</b> с привлеченных партнеров.</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-user" aria-hidden="true"></i> Логин реферала</th>
                                    <th><i class="fa fa-calendar" aria-hidden="true"></i> Дата партнерства</th>
                                    <th><i class="fa fa-rub" aria-hidden="true"></i> Выручка реферрера</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for r in referrals %}
                                <tr>
                                    <td>{{ r.user.username}}</td>
                                    <td>{{ r.date }}</td>
                                    <td>{{ r.profit }} руб.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="col-md-12">
                        <p class="alert alert-warning">Данный пользователь не имеет рефералов.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- END OVERVIEW -->
{% endblock %}