{% extends 'main/base.html' %}{% load staticfiles %}{% block headers %}<title>Модерация - OilGame - экономическая игра с выводом средств</title>{% endblock %}{% block content %}
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Панель управления игрой</h3>
                        </div>
                        <div class="panel-body">
                            <p class="alert alert-warning">Здравствуйте, администратор сайта. Мы рады приветствовать вас в панели управления. Пожалуйста, выполняйте все действия в этой панели с умом. Сделанное невозможно отменить.</p>
                            {% if messages %}{% for message in messages %}
                            <p class="alert alert-success">{{ message }}</p>
                            {% endfor %}{% endif %}
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Управление средствами игроков</h4>
                                    <p class="text-info">Здесь вы можете изменить значение валют у игрока. Для того чтобы вычесть валюту у игрока напишите отрицательное значение числа.</p>
                                    <div class="col-md-6 col-lg-4">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="text" class="form-control" name="nickname" placeholder="Логин аккаунта" maxlength="150" required>
                                            <br>
                                            <input type="number" class="form-control" name="oil" placeholder="Изменить нефть">
                                            <br>
                                            <input type="number" class="form-control" name="rub" placeholder="Изменить валюту (рубль)">
                                            <br>
                                            <button type="submit" class="btn btn-primary">Выполнить расчет</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h4>Список обращений в техническую поддержку</h4>
                                    <p class="text-info">Здесь мы отображаем все обращения в техническую поддержку. В столбике заявителя указан логин пользователя на сайте. Для ответа на запросы используйте электронную почту.</p>
                                    {% if tickets %}
                                    <table class="table table-striped table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 5%;">Заявитель</th>
                                                <th class="text-center" style="width: 8%;">E-mail</th>
                                                <th class="text-center" style="width: 25%;">Заголовок</th>
                                                <th class="text-center" style="width: 57%;">Сообщение</th>
                                                <th class="text-center" style="width: 5%;">Действия</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for t in tickets %}
                                            <tr>
                                                <td class="text-center">{{ t.nickname }}</td>
                                                <td class="text-center">{{ t.email }}</td>
                                                <td class="text-center">{{ t.title }}</td>
                                                <td class="text-center">{{ t.text }}</td>
                                                <td class="text-center"><button type="button" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="" data-original-title="Удалить" onclick="location.href = '{% url 'support_del' pk=t.id %}';"><i class="fa fa-times"></i></button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p class="alert alert-info">В данный момент обращения в техническую поддержку отсутствуют.</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>Список заявок на вывод средств</h4>
                                    <p class="text-info">Здесь мы отображаем все заявки на вывод средств. Вам необходимо произвести выплату средств и нажать кнопку одобрения платежа.</p>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                           <tr><th>ID</th><th>Клиент</th><th><i class="fa fa-credit-card"></i> Сумма</th><th><i class="fa fa-cog"></i> Система</th><th><i class="fa fa-money"></i> Номер кошелька</th><th><i class="fa fa-calendar"></i> Дата создания</th><th><i class="fa fa-hourglass-start"></i> Статус платежа</th></tr>
                                            {% for d in draws %}
                                            <tr>
                                                <td>{{ d.id }}</td>
                                                <td>{{ d.user.username }}</td>
                                                <td>{{ d.amount }} руб.</td>
                                                <td>{% if d.system == "1" %}Payeer{% elif d.system == "2" %}QIWI{% elif d.system == "3" %}WebMoney{% endif %}</td>
                                                <td>{{ d.vault }}</td>
                                                <td>{{ d.date }}</td>
                                                <td>{% if d.status == 1 %}<font color="green"><b><i class="fa fa-check"></i> Выплачено</b></font>{% elif d.status == 2 %}<font color="red"><b><i class="fa fa-times"></i> Отклонено</b></font>{% elif d.status == 3 %}<a href="/transfer/accept/{{ d.id }}/" class="btn btn-success"><i class="fa fa-check"></i> Выплачено</a> <a href="/transfer/deny/{{ d.id }}/" class="btn btn-danger"><i class="fa fa-times"></i> Отклонено</a>{% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
{% endblock %}